<!-- <img class="img-fluid" src="../../assets/Footer.png" alt=""> -->
<div class="row footer px-5">
  <div class="col-md-2 px-5 py-5">
    <div class="box">
      <img class="img-fluid" src="../../assets/navbar-icon.png" alt="" />
      <img class="img-fluid ps-2" src="../../assets/RENTCARS.png" alt="" />
    </div>
    <p class="text-white pt-5">25566 Hc 1, Glenallen, Alaska, 99588, USA</p>
    <p class="text-white pt-3">+603 4784 273 12</p>
    <p class="text-white pt-3">rentcars@gmail.com</p>
  </div>
  <div class="col-md-2 px-5 py-5">
    <h5 class="text-white">Our Products</h5>
    <p class="text-white pt-5">Career</p>
    <p class="text-white">Car</p>
    <p class="text-white">Packages</p>
    <p class="text-white">Features</p>
    <p class="text-white">Priceline</p>
  </div>
  <div class="col-md-2 px-5 py-5">
    <h5 class="text-white">Resources</h5>
    <p class="text-white pt-5">Download</p>
    <p class="text-white">Help Centre</p>
    <p class="text-white">Guides</p>
    <p class="text-white">Partner Network</p>
    <p class="text-white">Cruises</p>
    <p class="text-white">Developer</p>
  </div>
  <div class="col-md-2 px-5 py-5">
    <h5 class="text-white">About Rentcars</h5>
    <p class="text-white pt-5">Why choose us</p>
    <p class="text-white">Our Story</p>
    <p class="text-white">Investor Relations</p>
    <p class="text-white">Press Center</p>
    <p class="text-white">Advertise</p>
  </div>
  <div class="col-md-2 px-5 py-5">
    <h5 class="text-white">Follow Us</h5>
    <img class="pt-3" src="../../assets/3sss.png" alt="" />
  </div>
</div>
