<nav class="navbar navbar-expand-lg mt-3 mx-5">
  <div class="container">
    <div class="navbar-brand fw-bold px-5" href="#">
      <img class="img-fluid" src="../../assets/navbar-icon.png" alt="" />
      <img class="img-fluid ps-2" src="../../assets/RENTCARS.png" alt="" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav d-flex justify-content-center flex-grow-1 mb-2 mb-lg-0"
      >
        <li class="nav-item">
          <a
            class="nav-link  hover fw-semibold"
            routerLink="becomearental"
            aria-current="page"
            >Become A Renter</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link hover mx-3 fw-semibold"
            routerLink="rentaldeals"
            aria-current="page"
            >Rental Deals</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link hover mx-3 fw-semibold"
            routerLink="howitwork"
            aria-current="page"
            >How It Work</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link hover mx-3 fw-semibold"
            routerLink="whychooseus"
            aria-current="page"
            >Why Choose us</a
          >
        </li>
      </ul>
      <div class="btn btn-primary mx-4 rounded-bill px-3" routerLink="login">
        Log In
      </div>
    </div>
  </div>
</nav>
