<div class="container row">
  <div class="my-5 col-md-6 col-sm-2 main text-cetner">
    <h2 class="main-h2 fw-bold text-center">
      Download Rentcars App for <span>FREE</span>
    </h2>
    <p class="text-center">For faster, easier booking and exclusive deals.</p>
    <img
      class="py-3 social-img img-fluid"
      src="../../assets/social.png"
      alt=""
    />
    <input
      type="email"
      class="my-3 w-100 rounded-pill form-control"
      id="exampleFormControlInput1"
      placeholder="Name"
    />
    <input
      type="email"
      class="my-3 w-50 rounded-pill w-100 form-control"
      id="exampleFormControlInput1"
      placeholder="Phone Number"
    />
    <input
      type="email"
      class="my-3 w-50 rounded-pill w-100 form-control"
      id="exampleFormControlInput1"
      placeholder="Email"
    />
    <div class="btn btn-primary text-center">Send</div>
  </div>
  <div class="col-md-4 col-sm-2">
    <img
      src="../../assets/iPhone 14 Pro Space Black Mockup.png"
      class="img-fluid phone"
      alt=""
    />
  </div>
</div>
