<div class="container">
  <p class="text my-5 text-center">HOW IT WORK</p>
  <h2 class="fw-bold fs-1 my-5 text-center">Most popular cars rental deals</h2>
  <div class="row">
    <div class="col-md-4 text-center my-5">
      <img class="img-fluid" src="../../assets/icon location.png" alt="" />
      <p class="fw-semibold fs-2">Choose location</p>
      <p class="">Choose your and find your best car</p>
    </div>
    <div class="col-md-4 text-center my-5">
      <img class="img-fluid" src="../../assets/agenda-icon.png" alt="" />
      <p class="fw-semibold fs-2">Pick-up date</p>
      <p class="">Select your pick up date and time to book your car</p>
    </div>
    <div class="col-md-4 text-center my-5">
      <img class="img-fluid" src="../../assets/car-icon.png" alt="" />
      <p class="fw-semibold fs-2">Choose location</p>
      <p class="">Choose your and find your best car</p>
    </div>
  </div>
  <div class="row pt-5 py-5 px-5 m-5 text-cener">
    <div class="col-md-3 col-sm-6">
      <img class="img-fluid" src="../../assets/jaguar.png" alt="" />
    </div>
    <div class="col-md-3">
      <img class="img-fluid" src="../../assets/acu.png" alt="" />
    </div>
    <div class="col-md-3">
      <img class="img-fluid" src="../../assets/volvo.png" alt="" />
    </div>
    <div class="col-md-3">
      <img class="img-fluid" src="../../assets/awdy.png" alt="" />
    </div>
  </div>
</div>
