.main-text{
    padding-top:180px;
    margin-left: 120px;
    font-size: 50px;
    font-weight:700;
    line-height: 60px;
}
.Easily{
  color: #1572D3;
  margin-left: 120px;
  font-size: 50px;
  font-weight:700;
}
.text{
  margin-left: 120px;
}


